.layouthead{
    background: black;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 300;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layouthome{
    margin-left: 5%;
    padding: 5px;
    color: greenyellow;
    background: none;
    
}

.layoutlog{
    margin-right: 5%;
    padding: 5px;
    color: greenyellow;
    background: none;
    
}